@import url('https://fonts.googleapis.com/css?family=Fira+Code:wght@300..700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Fira Code', sans-serif;
    text-align: center;
    overflow-x: hidden;
    margin: 0;
}

h3{
    margin-bottom: 0;
    text-align: center;
}

small{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-heart{
    color: rgb(238, 17, 17);
}

.loveMe{
    height: 500px;
    width: 500px;
    background: url('https://images.unsplash.com/photo-1707343843344-011332037abb?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHx8') no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

}

.loveMe .fa-heart{
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow{
    to{
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}