@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Roboto, sans-serif;
    background: linear-gradient(#dfed9861, #ffa12f52);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly; 
    color: #323330;
}

.FP{
    background-color: rgba(17, 255, 17, 0.392);
    font-weight: 700;
    color: #001;
}
.JS{
    background-color: rgba(240, 219, 79);
    color: #323330;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: #323330;
    padding-bottom: 1px;
}

a:hover, a:focus{
    background-color: rgba(240, 219, 79);
    border-radius: 2px;
}
a:active{
    background-color: rgb(72, 25, 244);
}

ul{
    padding: 0.5rem;
    margin: 0;

}


li{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;     
    font-size: calc(20px + 16*(100vw / 1280));
    transition: 2s ease;
}




.welcome{
    margin: 1rem 0 0 0;
    padding: 0.5rem;
    font-size: calc(25px + 16*((100vw - 300px) / 1280))
}
.used{
    margin: 0;
    padding: 0.5rem;
    font-size: calc(20px + 16*((100vw - 300px)/ 1280))
}

.boards:hover{
    background: linear-gradient(#ff0000c0, #36171580);
}

@media (min-width:800px){
    body{
        align-items: center;
    }
    
    ul li {
        text-align: center;
    }

    .welcome{
        font-size: calc(25px + 16*((100vw) / 1280))
    }
    .used{
        font-size: calc(20px + 16*((100vw) / 1280))
    }


    
}