:root {
    --degrees: 0deg;
}
  
.bg-conic {
    background: conic-gradient(
      transparent 0deg,
      transparent var(--degrees),
      white var(--degrees),
      white 360deg
    );
}
  
.hand {
    transform-origin: bottom center;
    transform: rotate(var(--degrees));
  }



@media (max-width: 250px){
  #conic {
    width: 150px; /* Adjust the width of the circle */
    height: 150px; /* Adjust the height of the circle */
}

#timer {
    font-size: 3rem; /* Adjust the font size of the timer */
}

.hand {
    height: 75px; /* Adjust the height of the hand/marker */
}
}