@import url('https://fonts.googleapis.com/css?family=Muli:300;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #f8f9f8;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #eef1f8a5;
    margin: 0;    
}

.container{
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 300px;
}

.title{
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
}

.subtitle{
    display: inline-block;
    margin: 5px 0 20px;
    opacity: 0.8;
}

.header{
    background-color: rgba(238, 60, 60, 0.645);
    color: #fff;
    padding: 30px 20px;
       
}

.header input{
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    width: 100%;
}

.header input:focus{
    outline: 0;
}

.user-list{
    background-color: #fff;
    list-style-type: 0;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto
}

.user-list li{
    display: flex;
    padding: 1.2rem;
}

.user-list img{
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.user-list .user-info{
    margin-left: 10px;
}

.user-list .user-info h4{
    margin: 0 0 10px;
}

.user-list .user-info p{
    font-size: 0.8rem;
}

.user-list li:not(:last-of-type){ /*Not the last one!*/
    border-bottom: 1px solid #eee;
}

.user-list li.hide{
    display: none;

}