@import url('https://fonts.googleapis.com/css?family=Fira+Code:wght@300..700&display=swap');

*{
    box-sizing: border-box;
} 

body{
    font-family: 'Fira Code', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}