*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: rgba(238, 29, 29, 0.806);;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}