@import url("https://fonts.googleapis.com/css2?family=Lato:300,400&display=swap");

* {
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #efefbb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}