@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*{
    box-sizing: border-box;
} 

body{
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: #3a3a8f;
    color: white;
}